<footer class="container footer-top">
    @defer (on viewport) {
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-40">
                <div class="footer-widget">
                    <h4 class="widget-title">CONTACT INFO</h4>
                    <p class="contact-info">
                        <span><i class="fa-solid fa-location-dot"></i> Address</span>
                        Biratnagar, Nepal
                    </p>
                    <p class="contact-info">
                        <span><i class="fa-solid fa-phone"></i> Phone</span>
                        <a href="tel:+977 9841234567">+977 9841234567</a>
                    </p>
                    <p class="contact-info">
                        <span><i class="fa-solid fa-envelope"></i> Mail</span>
                        <a href="mailto:partsnepal@gmail.com">partsnepal&#64;gmail.com</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-40">
                <div class="footer-widget">
                    <h4 class="widget-title">CUSTOMER CARE</h4>
                    <ul class="link-widget">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-40">
                <div class="footer-widget">
                    <h4 class="widget-title">INFORMATION</h4>
                    <ul class="link-widget">
                        <li><a href="#">Track your order</a></li>
                        <li><a href="#">Locate Store</a></li>
                        <li><a href="#">Online Support</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    } @placeholder {
        <div class="row">
            @for (item of [1,2,3]; track item) {
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '200px' }">
                    </ngx-skeleton-loader>
                </div>
            }
        </div>
    }
</footer>